wf1_current.json
{"updatedAt":"2026-03-18T09:15:19.159Z","createdAt":"2026-03-17T21:44:27.455Z","id":"pGr0L3TxiYGtrjxF","name":"Broker - Captacion Comentario IG","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"path":"ig-comments","responseMode":"responseNode","options":{}},"id":"8008765f-4b3f-48a0-8dd3-8d9b056833c6","name":"IG Comment Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-80,80],"webhookId":"0358b01a-2639-49dd-bd0c-93b016e5c89b","notes":"Meta envia aqui los comentarios de Instagram. Configura este URL en Meta Developers > Webhooks > Instagram > comments"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-01","leftValue":"={{ $json.query['hub.mode'] }}","rightValue":"subscribe","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"be2030fb-578f-47fc-b07a-583cf930f359","name":"IF Verificacion o Evento","type":"n8n-nodes-base.if","typeVersion":2,"position":[144,80]},{"parameters":{"respondWith":"text","responseBody":"={{ $('IG Comment Webhook').item.json.query['hub.challenge'] }}","options":{"responseCode":200}},"id":"37cdcb8a-bcce-4476-bd92-1f8cc0046d80","name":"Respond Hub Challenge","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[368,-48],"notes":"Responde el hub.challenge para verificar el webhook con Meta"},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"ig_user_id","value":"={{ $json.body.entry[0].changes[0].value.from.id }}","type":"string"},{"id":"a2","name":"ig_username","value":"={{ $json.body.entry[0].changes[0].value.from.username }}","type":"string"},{"id":"a3","name":"comentario_texto","value":"={{ $json.body.entry[0].changes[0].value.text }}","type":"string"},{"id":"a4","name":"media_id","value":"={{ $json.body.entry[0].changes[0].value.media.id }}","type":"string"},{"id":"a5","name":"timestamp","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"id":"cce26e0a-052d-4b1a-9305-b9e7436dde22","name":"Extract Commenter Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,192]},{"parameters":{"operation":"lookup","documentId":{"__rl":true,"value":"1ITEtRnfzOsHRBuDW5cItXfBr-A6k3FCg5d9dK1lAKlU","mode":"id"}},"id":"33d2cc79-a185-498f-82ce-cd30c02c7511","name":"Sheets Buscar Usuario Existente","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[592,192],"notes":"Busca si este usuario ya fue contactado antes. Sheet: Broker - Lead Pipeline > Conversaciones"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-02","leftValue":"={{ $json.ig_user_id }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty"}}],"combinator":"and"},"options":{}},"id":"80547f73-b6ff-4a67-aa4e-40eb9d75f99d","name":"IF Usuario Ya Contactado","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,192],"notes":"Si ya existe registro, no mandamos otro DM para no spamear"},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"already_tracked\" }","options":{"responseCode":200}},"id":"cbce09e1-f3ad-4738-b936-90a2276c9078","name":"Respond OK Already Tracked","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1024,80]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v18.0/YOUR_IG_PAGE_ID/messages","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"e37fbe5a-f6fa-4d81-90ab-d13166e2dbf8","name":"Send DM Inicial IG","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,320],"notes":"Envia el primer DM al usuario que comento. Requiere permiso instagram_manage_messages en tu app de Meta"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ITEtRnfzOsHRBuDW5cItXfBr-A6k3FCg5d9dK1lAKlU","mode":"id"},"sheetName":{"__rl":true,"value":"Conversaciones","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"ig_user_id":"={{ $('Extract Commenter Data').item.json.ig_user_id }}","ig_username":"={{ $('Extract Commenter Data').item.json.ig_username }}","historial_conversacion":"=[]","datos_lead":"={}","estado_conversacion":"en_conversacion","fecha_entrada":"={{ $now.toISO() }}","fecha_actualizacion":"={{ $now.toISO() }}","comentario_origen":"={{ $('Extract Commenter Data').item.json.comentario_texto }}"}},"options":{}},"id":"4f6b679f-d467-48df-9fbd-e7d5cc7b9e9a","name":"Sheets Registrar Conversacion","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1248,320]},{"parameters":{"chatId":"YOUR_TELEGRAM_CHAT_ID","text":"={{ '🎯 [Broker] Nuevo lead captado por comentario IG\\n\\n👤 Usuario: @' + $('Extract Commenter Data').item.json.ig_username + '\\n💬 Comentó: \"' + $('Extract Commenter Data').item.json.comentario_texto + '\"\\n\\n✅ DM inicial enviado — conversación iniciada' }}","additionalFields":{}},"id":"022241ce-36b5-4ac0-aa31-1e6b198295ab","name":"Telegram Log Nuevo Lead Captado","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1472,320],"webhookId":"6f137837-1bda-41ad-b1d4-5854f38e1ecc"},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"dm_sent\" }","options":{"responseCode":200}},"id":"3fbdd206-8453-42c3-b5fc-c99a23bdb310","name":"Respond OK New Lead","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1680,320]},{"parameters":{"content":"## WF1 — Captacion Comentario IG\n\n**Flujo:** Reel/Post → usuario comenta 'FIRMAX' → bot envia DM automatico → inicia cualificacion en WF2.\n\n**Keyword trigger:** Solo procesa comentarios que contengan la palabra FIRMAX (mayus/minus indistinto).\n\n**Configurar:**\n- `1ITEtRnfzOsHRBuDW5cItXfBr-A6k3FCg5d9dK1lAKlU` → ID del Google Sheet 'Broker - Lead Pipeline'\n- `YOUR_IG_PAGE_ID` → ID de tu cuenta de Instagram Business\n- Credencial Meta con permiso `instagram_manage_messages`\n- Webhook URL registrar en: Meta Developers → Webhooks → instagram → comments\n- `YOUR_TELEGRAM_CHAT_ID` → ID del chat del equipo broker","height":220,"width":650,"color":4},"id":"e4f0bb8a-077f-4de4-8460-167b0132c12e","name":"SETUP","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[544,-480]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-kw","leftValue":"={{ $json.comentario_texto }}","rightValue":"FIRMAX","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"c879448f-9187-44f6-9632-e78b13d0c1eb","name":"IF Comentario es FIRMAX","type":"n8n-nodes-base.if","typeVersion":2,"position":[592,192],"notes":"Solo actua si el comentario contiene 'FIRMAX'. Resto de comentarios se ignoran."},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"ignored_no_keyword\" }","options":{"responseCode":200}},"id":"ec147665-39cb-49ef-9091-bc9e5e06ef66","name":"Respond Ignorar Comentario","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[800,336]}],"connections":{"IG Comment Webhook":{"main":[[{"node":"IF Verificacion o Evento","type":"main","index":0}]]},"IF Verificacion o Evento":{"main":[[{"node":"Respond Hub Challenge","type":"main","index":0}],[{"node":"Extract Commenter Data","type":"main","index":0}]]},"Extract Commenter Data":{"main":[[{"node":"IF Comentario es FIRMAX","type":"main","index":0}]]},"IF Comentario es FIRMAX":{"main":[[{"node":"Sheets Buscar Usuario Existente","type":"main","index":0}],[{"node":"Respond Ignorar Comentario","type":"main","index":0}]]},"Sheets Buscar Usuario Existente":{"main":[[{"node":"IF Usuario Ya Contactado","type":"main","index":0}]]},"IF Usuario Ya Contactado":{"main":[[{"node":"Respond OK Already Tracked","type":"main","index":0}],[{"node":"Send DM Inicial IG","type":"main","index":0}]]},"Send DM Inicial IG":{"main":[[{"node":"Sheets Registrar Conversacion","type":"main","index":0}]]},"Sheets Registrar Conversacion":{"main":[[{"node":"Telegram Log Nuevo Lead Captado","type":"main","index":0}]]},"Telegram Log Nuevo Lead Captado":{"main":[[{"node":"Respond OK New Lead","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d652688e-40dd-4b30-99b1-4fad682c858b","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-03-17T21:44:27.455Z","createdAt":"2026-03-17T21:44:27.455Z","role":"workflow:owner","workflowId":"pGr0L3TxiYGtrjxF","projectId":"o8c43tLPYRaFR92I","project":{"updatedAt":"2025-12-13T14:18:31.951Z","createdAt":"2025-12-13T14:07:20.025Z","id":"o8c43tLPYRaFR92I","name":"lucas martinez siciliano <lucas.martinez.siciliano@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-13T14:07:20.025Z","createdAt":"2025-12-13T14:07:20.025Z","userId":"e417b208-1d71-4db5-8214-7c1ee28e7bb3","projectId":"o8c43tLPYRaFR92I","user":{"updatedAt":"2026-03-19T07:22:28.322Z","createdAt":"2025-12-13T14:07:19.154Z","id":"e417b208-1d71-4db5-8214-7c1ee28e7bb3","email":"lucas.martinez.siciliano@gmail.com","firstName":"lucas","lastName":"martinez siciliano","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-13T14:19:09.953Z","personalization_survey_n8n_version":"1.123.5","companySize":"<20","companyType":"ecommerce","role":"business-owner","reportedSource":"friend"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"wNGV1wdCDXenG654","userActivatedAt":1768809600025,"easyAIWorkflowOnboarded":true,"npsSurvey":{"responded":true,"lastShownAt":1769763422270}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-19","isPending":false}}]}}],"tags":[],"activeVersion":null}