wf_broker_lead_updated.json
{
  "updatedAt": "2026-03-24T17:28:07.499Z",
  "createdAt": "2026-03-24T17:22:54.814Z",
  "id": "d6DqPhHYFHGt8C3J",
  "name": "Broker - New Lead Webhook",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Webhook Lead Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "path": "broker-lead",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      }
    },
    {
      "id": "node-set",
      "name": "Preparar Datos Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "nombre",
              "value": "={{ $json.body.nombre }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "telefono",
              "value": "={{ $json.body.telefono }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "email",
              "value": "={{ $json.body.email || '' }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "clasificacion",
              "value": "={{ $json.body.clasificacion || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "score",
              "value": "={{ $json.body.score || 0 }}",
              "type": "number"
            },
            {
              "id": "a6",
              "name": "origen",
              "value": "={{ 'Web - ' + ($json.body.source || 'formulario') }}",
              "type": "string"
            },
            {
              "id": "a7",
              "name": "etapa",
              "value": "nuevo",
              "type": "string"
            },
            {
              "id": "a8",
              "name": "pagina",
              "value": "={{ $json.body.page || '' }}",
              "type": "string"
            },
            {
              "id": "a9",
              "name": "timestamp",
              "value": "={{ $json.body.timestamp || $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-crm",
      "name": "POST Lead al CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://centrum.lukimporta.es/api/leads",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypairs",
        "bodyParameters": {
          "parameters": [
            {
              "name": "nombre",
              "value": "={{ $json.nombre }}"
            },
            {
              "name": "telefono",
              "value": "={{ $json.telefono }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "categoria",
              "value": "={{ $json.clasificacion }}"
            },
            {
              "name": "score",
              "value": "={{ Math.max(1, Math.min(10, Math.round($json.score / 10))) }}"
            },
            {
              "name": "fuente",
              "value": "={{ $json.origen }}"
            },
            {
              "name": "estado",
              "value": "nuevo"
            },
            {
              "name": "situacion",
              "value": "otro"
            },
            {
              "name": "deuda_total",
              "value": "=0"
            },
            {
              "name": "cuota_mensual",
              "value": "=0"
            },
            {
              "name": "ingresos_netos",
              "value": "=0"
            },
            {
              "name": "provincia",
              "value": ""
            },
            {
              "name": "banco",
              "value": ""
            },
            {
              "name": "notas",
              "value": "={{ \"Lead desde quiz. Página: \" + $json.pagina }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-telegram",
      "name": "Telegram Alerta Lead",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "chatId": "881434335",
        "text": "={{ '🏠 *Broker — Nuevo Lead*\\n\\n👤 *Nombre:* ' + $('Preparar Datos Lead').item.json.nombre + '\\n📞 *Teléfono:* ' + $('Preparar Datos Lead').item.json.telefono + '\\n📧 *Email:* ' + ($('Preparar Datos Lead').item.json.email || '—') + '\\n\\n🎯 *Clasificación:* ' + $('Preparar Datos Lead').item.json.clasificacion + ' (score ' + $('Preparar Datos Lead').item.json.score + ')' + '\\n🌐 *Origen:* ' + $('Preparar Datos Lead').item.json.origen + '\\n📄 *Página:* ' + $('Preparar Datos Lead').item.json.pagina }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "u85vcY7Rl3NpxuVQ",
          "name": "Telegram Antigravity"
        }
      }
    }
  ],
  "connections": {
    "Webhook Lead Entrada": {
      "main": [
        [
          {
            "node": "Preparar Datos Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos Lead": {
      "main": [
        [
          {
            "node": "POST Lead al CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Lead al CRM": {
      "main": [
        [
          {
            "node": "Telegram Alerta Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "90172d34-e4c3-46bc-a8a2-6df465228efe",
  "activeVersionId": "90172d34-e4c3-46bc-a8a2-6df465228efe",
  "versionCounter": 5,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-24T17:22:54.814Z",
      "createdAt": "2026-03-24T17:22:54.814Z",
      "role": "workflow:owner",
      "workflowId": "d6DqPhHYFHGt8C3J",
      "projectId": "o8c43tLPYRaFR92I",
      "project": {
        "updatedAt": "2025-12-13T14:18:31.951Z",
        "createdAt": "2025-12-13T14:07:20.025Z",
        "id": "o8c43tLPYRaFR92I",
        "name": "lucas martinez siciliano <lucas.martinez.siciliano@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-13T14:07:20.025Z",
            "createdAt": "2025-12-13T14:07:20.025Z",
            "userId": "e417b208-1d71-4db5-8214-7c1ee28e7bb3",
            "projectId": "o8c43tLPYRaFR92I",
            "user": {
              "updatedAt": "2026-04-17T16:20:02.038Z",
              "createdAt": "2025-12-13T14:07:19.154Z",
              "id": "e417b208-1d71-4db5-8214-7c1ee28e7bb3",
              "email": "lucas.martinez.siciliano@gmail.com",
              "firstName": "lucas",
              "lastName": "martinez siciliano",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-13T14:19:09.953Z",
                "personalization_survey_n8n_version": "1.123.5",
                "companySize": "<20",
                "companyType": "ecommerce",
                "role": "business-owner",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "qS2lmy2olk1BsExu",
                "userActivatedAt": 1775977200034,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1769763422270
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-17",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-24T17:28:07.501Z",
    "createdAt": "2026-03-24T17:28:07.501Z",
    "versionId": "90172d34-e4c3-46bc-a8a2-6df465228efe",
    "workflowId": "d6DqPhHYFHGt8C3J",
    "nodes": [
      {
        "id": "node-webhook",
        "name": "Webhook Lead Entrada",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "parameters": {
          "path": "broker-lead",
          "httpMethod": "POST",
          "responseMode": "onReceived",
          "responseData": "firstEntryJson",
          "options": {}
        }
      },
      {
        "id": "node-set",
        "name": "Preparar Datos Lead",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          460,
          300
        ],
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "nombre",
                "value": "={{ $json.body.nombre }}",
                "type": "string"
              },
              {
                "id": "a2",
                "name": "telefono",
                "value": "={{ $json.body.telefono }}",
                "type": "string"
              },
              {
                "id": "a3",
                "name": "email",
                "value": "={{ $json.body.email || '' }}",
                "type": "string"
              },
              {
                "id": "a4",
                "name": "clasificacion",
                "value": "={{ $json.body.clasificacion || 'N/A' }}",
                "type": "string"
              },
              {
                "id": "a5",
                "name": "score",
                "value": "={{ $json.body.score || 0 }}",
                "type": "number"
              },
              {
                "id": "a6",
                "name": "origen",
                "value": "={{ 'Web - ' + ($json.body.source || 'formulario') }}",
                "type": "string"
              },
              {
                "id": "a7",
                "name": "etapa",
                "value": "nuevo",
                "type": "string"
              },
              {
                "id": "a8",
                "name": "pagina",
                "value": "={{ $json.body.page || '' }}",
                "type": "string"
              },
              {
                "id": "a9",
                "name": "timestamp",
                "value": "={{ $json.body.timestamp || $now }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "node-crm",
        "name": "POST Lead al CRM",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          680,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://jamie-improvement-immigration-redhead.trycloudflare.com/api/crm/leads",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "keypairs",
          "bodyParameters": {
            "parameters": [
              {
                "name": "nombre",
                "value": "={{ $json.nombre }}"
              },
              {
                "name": "telefono",
                "value": "={{ $json.telefono }}"
              },
              {
                "name": "email",
                "value": "={{ $json.email }}"
              },
              {
                "name": "clasificacion",
                "value": "={{ $json.clasificacion }}"
              },
              {
                "name": "score",
                "value": "={{ $json.score }}"
              },
              {
                "name": "origen",
                "value": "={{ $json.origen }}"
              },
              {
                "name": "etapa",
                "value": "={{ $json.etapa }}"
              }
            ]
          },
          "options": {
            "timeout": 10000
          }
        },
        "continueOnFail": true
      },
      {
        "id": "node-telegram",
        "name": "Telegram Alerta Lead",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          900,
          300
        ],
        "parameters": {
          "chatId": "881434335",
          "text": "={{ '🏠 *Broker — Nuevo Lead*\\n\\n👤 *Nombre:* ' + $('Preparar Datos Lead').item.json.nombre + '\\n📞 *Teléfono:* ' + $('Preparar Datos Lead').item.json.telefono + '\\n📧 *Email:* ' + ($('Preparar Datos Lead').item.json.email || '—') + '\\n\\n🎯 *Clasificación:* ' + $('Preparar Datos Lead').item.json.clasificacion + ' (score ' + $('Preparar Datos Lead').item.json.score + ')' + '\\n🌐 *Origen:* ' + $('Preparar Datos Lead').item.json.origen + '\\n📄 *Página:* ' + $('Preparar Datos Lead').item.json.pagina }}",
          "additionalFields": {
            "parse_mode": "Markdown"
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "u85vcY7Rl3NpxuVQ",
            "name": "Telegram Antigravity"
          }
        }
      }
    ],
    "connections": {
      "Webhook Lead Entrada": {
        "main": [
          [
            {
              "node": "Preparar Datos Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Datos Lead": {
        "main": [
          [
            {
              "node": "POST Lead al CRM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "POST Lead al CRM": {
        "main": [
          [
            {
              "node": "Telegram Alerta Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "lucas martinez siciliano",
    "name": null,
    "description": null
  }
}